#header {
    background-color: rgba(0,0,0,0.0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 16%;
    vertical-align: top;
}

    #header h1 {
        margin: 0%;
    }

    #header hr {
        border: 1px solid gray;
        margin-bottom: 0%;
    }

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 210%;
    color: dimgray;
    text-decoration: none;
}

#navheader {
    color: dimgray;
    padding: 0% 2%;
}
