html
{
   border:0px;
   margin:0px;
}
#header {
    background-image: url('../images/header.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 16%;
    vertical-align:top;
}
#header h1 {
    margin: 0px;
}
#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 210%;
    color: antiquewhite;
    text-decoration: none;
}

#navheader {
    color: wheat;
    text-decoration: none;
    padding:0% 2%;
    background-color: skyblue;
}
body {
    background-image: url('../images/background.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:0px;
}
#footer {
    background-color: #0f52BA;
    width: 100%;
    height: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    color: antiquewhite;
    vertical-align:bottom;
    text-decoration:none;
}
