html
{
   border:0px;
   margin:0px;
}
#header {
    background-image: url('../images/header.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 15.7%;
    vertical-align:top;
    border:none;
    margin:0px;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    font-size: 210%;
    color: antiquewhite;
    text-decoration: none;
    margin-top:0px;
}

#navheader {
    color: wheat;
    text-decoration: none;
    padding: 0.1% 2%;
    background-color: skyblue;
}
body {
    background-image: url('../images/background.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border:none;
    margin:0px;
}
#footer {
    background-color: darkblue;
    width: 100%;
    height: 40%;
}
